<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationVersion>2023.10.20.3</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <ErrorReportUrl>https://github.com/ModerRAS/TelegramSearchBot</ErrorReportUrl>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://clickonce.miaostay.com/TelegramSearchBot/</InstallUrl>
    <IsRevisionIncremented>False</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>TelegramSearchBot</ProductName>
    <PublishDir>bin\TelegramSearchBot</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>ModerRAS</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>True</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(无)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <SuiteName>TelegramSearchBot</SuiteName>
    <SupportUrl>https://github.com/ModerRAS/TelegramSearchBot</SupportUrl>
    <TargetCulture>zh-CN</TargetCulture>
    <TargetFramework>net9.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Background</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <MinimumRequiredVersion>2023.10.20.3</MinimumRequiredVersion>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="Resources\wechat_qrcode\detect.caffemodel">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\wechat_qrcode\detect.prototxt">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\wechat_qrcode\sr.caffemodel">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\wechat_qrcode\sr.prototxt">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\char_state_tab.json">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\dict.txt">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\idf.txt">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\pos_prob_emit.json">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\pos_prob_start.json">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\pos_prob_trans.json">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\prob_emit.json">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\prob_trans.json">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Resources\stopwords.txt">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>DataFile</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>